.vim_runtime/temp_dirs/undodir/%home%havardnyboe%.dotfiles%.git%COMMIT_EDITMSG
.vim_runtime/temp_dirs/undodir/%Users%havardnyboe%.dotfiles%.gitignore
.vim_runtime/temp_dirs/undodir/%Users%havardnyboe%.dotfiles%.git%COMMIT_EDITMSG
.DS_STORE
